tensorflow==2.5.0
xgboost==1.1.1
sklearn
matplotlib
statsmodels
pandas
numpy
keras==2.3.1
jupyter
sqlalchemy
botocore>=1.12
boto3>=1.9
flask
lxml
beautifulsoup4
bs4
apache-airflow[s3]>=1.10
requests
pmdarima
